body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe4e1; /* Rosa claro */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffb6c1; /* Rosa médio */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 80%;
    max-width: 600px;
}

h1 {
    color: #e91e63; /* Rosa choque */
    margin-bottom: 20px;
}

#numeros-sorteados {
    margin-top: 20px;
}

#lista-numeros {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#lista-numeros li {
    background-color: #f06292; /* Rosa mais escuro */
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 5px;
}

.botoes {
    margin-top: 30px;
}

button {
    background-color: #e91e63; /* Rosa choque */
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #c2185b; /* Rosa choque um pouco mais escuro */
}

button:disabled {
    background-color: #f8bbd0; /* Rosa bem claro */
    cursor: not-allowed;
}
